@page "/fetchdata"
@using MartinGilDemo.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th> FirstName </th>
                <th> LastName </th>
                <th> MobileNumber </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.FirstName</td>
                    <td>@forecast.LastName</td>
                    <td>@forecast.MobileNumber</td>
                    <td>@forecast.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<Person[]>("WeatherForecast");
    }
}
